* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

.Controls {
  display: flex;
  max-width: 60rem;
  justify-content: space-around;
  margin: 3rem auto;
  flex-wrap: wrap; }
  .Controls button {
    margin: 1rem;
    padding: 1rem;
    min-width: 13rem;
    background-color: #aaa;
    color: white;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease; }
    .Controls button:first-child {
      background-color: #468966; }
      .Controls button:first-child:hover, .Controls button:first-child.active {
        background-color: #57ab7f; }
    .Controls button:nth-child(2) {
      background-color: #b64926; }
      .Controls button:nth-child(2):hover, .Controls button:nth-child(2).active {
        background-color: #d4552c; }
    .Controls button:nth-child(3) {
      background-color: #ffb03b; }
      .Controls button:nth-child(3):hover, .Controls button:nth-child(3).active {
        background-color: #f8c06d; }
    .Controls button:nth-child(4) {
      background-color: #111; }
      .Controls button:nth-child(4):hover, .Controls button:nth-child(4).active {
        background-color: #555; }

.Stopwatch {
  text-align: center;
  font-size: 6rem;
  font-weight: 100;
  margin: 5rem 0; }

.Results {
  text-align: center;
  color: #999; }
  .Results > li:first-child {
    color: #555; }

@media (max-width: 767px) {
  .Stopwatch {
    font-size: 4.5rem; } }
