.Controls {
  display: flex;
  max-width: 60rem;
  justify-content: space-around;
  margin: 3rem auto;
  flex-wrap: wrap;

  button {
    margin: 1rem;
    padding: 1rem;
    min-width: 13rem;
    background-color: #aaa;
    color: white;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;

    &:first-child {
      background-color: #468966;
      &:hover,
      &.active {
        background-color: #57ab7f;
      }
    }
    &:nth-child(2) {
      background-color: #b64926;
      &:hover,
      &.active {
        background-color: #d4552c;
      }
    }
    &:nth-child(3) {
      background-color: #ffb03b;
      &:hover,
      &.active {
        background-color: #f8c06d;
      }
    }
    &:nth-child(4) {
      background-color: #111;
      &:hover,
      &.active {
        background-color: #555;
      }
    }
  }
}

.Stopwatch {
  text-align: center;
  font-size: 6rem;
  font-weight: 100;
  margin: 5rem 0;
}

.Results {
  text-align: center;
  color: #999;
  & > li:first-child {
    color: #555;
  }
}

@media (max-width: 767px) {
  .Stopwatch {
    font-size: 4.5rem;
  }
}
